* text=auto
docker-compose.yml text eol=lf

# Enforce LF line endings for source code files
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sql text eol=lf
backend/migrations/*.sql text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
geoip/GeoLite2-City.mmdb filter=lfs diff=lfs merge=lfs -text
